<section class="about">
  <section class="w-75 mx-auto rounded shadow my-5 p-5 bg-white">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="item">
              <h3 class="borders-bottom mb-4">Get In Touch</h3>
              <p class="lead">Feel free to contact us if you have any unanswered questions after browsing our site. 
                <br>
                We welcome any feedback or ideas you may have as well.</p>
              <div class="icons d-flex justify-content-center align-items-center">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6">
          <div class="item">
          <h3 class="borders-bottom">Send Us Message</h3>
          <form action="">
            <label for="name"></label>
            <input id="name" type="text" placeholder="Your Name" name="name" class="form-control">
            <label for="email"></label>
            <input id="email" type="text" placeholder="Your Email" name="email" class="form-control">
            <label for="subject"></label>
            <input id="subject" type="text" placeholder="Subject" name="subject" class="form-control">
            <label for="message"></label>
            <textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
            <button type="submit" class="main-btn form-control my-4">Send Message</button>
          </form>
          </div>
        </div>
      </div>
    </div>
</section>
</section>
