<section class="w-75 mx-auto rounded shadow bg-white p-5 my-5" *ngIf="cartDetails;else msg">

        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h2 mb-2">Shop Cart</h1>
            <button (click)="clearCart()" class="btn btn-sm btn-outline-danger">Clear Cart</button>
        </div>
        <p><span class="text-main">Total Cart Price:</span> {{cartDetails.totalCartPrice | currency:'EGP '}}</p>
        <div class="row borders-bottom py-2" *ngFor="let item of cartDetails.products">
            <div class="col-md-2 item">
                <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
            </div>
            <div class="col-md-10 d-flex justify-content-between align-items-center">
                <div>
                    <h3>{{item.product.title|cuttext:3}}</h3>
                    <p><span class="text-main">Price:</span> {{item.price | currency:'EGP '}}</p>
                    <button #btnRemove (click)="removeItem(item.product._id, btnRemove)" class="btn remove-btn m-0 p-0"><i class="fas fa-trash"></i> Remove</button>
                </div>
        
                <div>
                    <button #btn1 (click)="changeCount(item.count - 1 , item.product._id, btn1 , btn2)" class="btn border-success"> - </button>
                    <span> {{item.count}} </span>
                    <button #btn2 (click)="changeCount(item.count + 1 , item.product._id, btn1 , btn2)" class="btn border-success"> + </button>
                </div>
            </div>
        
        </div>
        <button [disabled]="cartDetails.totalCartPrice == 0" [routerLink]="['/payment', cartDetails._id]" class="main-btn mt-3">Online Payment</button>
</section>


<ng-template #msg>
    <h2 class="text-center my-5 text-muted">Your Cart Is Empty....</h2>
</ng-template>

