$main-color: #0AAD0A;
// .about {
//     padding: 80px 0px;
//     background-image:linear-gradient(rgba(144, 145, 146, 0.8) 50% , rgba(144, 145, 146, 0.8) 50%) , url('../../../assets/aboutus.jpg');
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center center;
//     }
span {
    color: $main-color;
    font-size: 20px;
    font-weight: bolder;
}