<section *ngIf="step1" class="row w-50 mx-auto my-5 shadow rounded p-4">
    <h3 class="mb-3">Forget Password</h3>
    <form [formGroup]="forgotForm" (ngSubmit)="forgetPassword()">
        <h6 class="mb-3">We will send you an email to reset your password.</h6>
        <div class="form-item">
            <label for="email">Email:</label>
            <input formControlName="email" class="form-control mb-4" type="email" id="email" >
            <div class="mt-1 alert alert-danger p-1 small" *ngIf="forgotForm.get('email')?.errors && forgotForm.get('email')?.touched">
                <p class="mb-0" *ngIf="forgotForm.get('email')?.getError('required')">Email is required</p>
                <p class="mb-0" *ngIf="forgotForm.get('email')?.getError('email')">Email format is InValid</p>
            </div>
            <button [disabled]="forgotForm.invalid" class="form-control main-btn my-4">Submit</button>
            <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMsg}}</p>
            <span role="button" routerLink="/login">Cancel</span>
        </div>
    </form>
</section>

<section *ngIf="step2" class="row w-50 mx-auto my-5 shadow rounded p-4">
    <h3 class="mb-3">Reset Code</h3>
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <h6 class="mb-3">We sent you reset code, Please write it.</h6>
        <div class="form-item">
            <label for="resetCode">Reset Code:</label>
            <input formControlName="resetCode" class="form-control mb-4" type="text" id="resetCode" >
            <div class="mt-1 alert alert-danger p-1 small" *ngIf="resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched">
                <p class="mb-0" *ngIf="resetCodeForm.get('resetCode')?.getError('required')">Reset Code is required</p>
            </div>
            <button [disabled]="resetCodeForm.invalid" class="form-control main-btn my-4">Submit</button>
            <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMsg}}</p>
            <span role="button" routerLink="/login">Cancel</span>
        </div>
    </form>
</section>

<section *ngIf="step3" class="row w-50 mx-auto my-5 shadow rounded p-4">
    <h3 class="mb-3">Reset New Password</h3>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <h6 class="mb-3">Write your new password.</h6>
        <div class="form-item">
            <label for="newPassword">New password:</label>
            <input formControlName="newPassword" class="form-control mb-4" type="password" id="newPassword" >
            <div class="mt-1 alert alert-danger p-1 small" *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched">
                <p class="mb-0" *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">New Password is required</p>
                <p class="mb-0" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">New Password must be at least 6 chars</p>
            </div>
            <button [disabled]="resetPasswordForm.invalid" class="form-control main-btn my-4">Submit</button>
            <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMsg}}</p>
            <span role="button" routerLink="/login">Cancel</span>
        </div>
    </form>
</section>

