/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$main-color: #0AAD0A;
$light-color: #eff9f1;

$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$main-transition: 0.8s;



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $light-color;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
}

.nav-link {
  transition: unset !important;
}

.borders-bottom {
  border-bottom: 1px $main-color solid;
}

.text {
  color: black;
}

.bg-white {
  background-color: #fff;
}

.active-link {
  background-color: $main-color;
  color: #fff !important;
  border-radius: 5px;
  &:focus {
  box-shadow: 0 0 0 0.25rem rgba(95, 129, 95, 0.39) !important;
  border-color: #31c431 !important;
  }
}
body {
  font-family: $font-family;
}

.rating-color {
  color: $rating-color;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: $main-color;
}

.text-main-light {
  color: $light-color;
}

.bg-main {
  background-color: $main-color !important;
}

.bg-main-light {
  background-color: $light-color !important;
}
.footerbutton {
  border: 2px solid #587522;
  cursor: pointer;
  color: black !important;
  background-color: #fff !important;
  padding: 4px 8px;
  transition: background-color $main-transition;
  border-radius: 5px;
  
}
.main-btn {
  border: unset;
  cursor: pointer;
  color: #fff !important;
  background-color: $main-color !important;
  padding: 6px 8px;
  transition: background-color $main-transition;
  

  &:hover {
    background-color: #0a580a !important;
  }

  &:disabled {
    background-color: #3d993d !important;
    color: #ffffff8e !important;
    cursor: not-allowed;
  }
}

.remove-btn {
  border: unset;
  cursor: pointer;
  color: black !important;
  background-color: #fff !important;
  padding: 6px 8px;
  transition: color $main-transition;
  
  &:hover {
    color: red !important;
    
  }
  &:focus {
    border: unset;
  }
  
}

input:focus {
  box-shadow: 0 0 0 0.25rem rgba(95, 129, 95, 0.39) !important;
  border-color: #0a580a !important;
}
button:focus {
  box-shadow: 0 0 0 0.25rem rgba(95, 129, 95, 0.39) !important;
  border-color: #0a580a !important;
}

.about {
  padding: 80px 0px;
  background-image:linear-gradient(rgba(144, 145, 146, 0.8) 50% , rgba(144, 145, 146, 0.8) 50%) , url('../src/assets/MAR15_12_e-comm.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  }

.item {
  overflow: hidden;
  & {
    img {
      width: 100%;
      transition: all 0.8s;}
    }
  &:hover {
    img {
      scale: 1.1;}
    }

  }

  .bg-icon {
    background-color: $main-color;
  }

.ngx-pagination .current {
  background: #0aad0a !important;
  border-radius: 5px !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #dafada !important;
  border-radius: 5px !important;
  color: $main-color !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #18aa1c !important;
}


